<button
    class="btn btn-left-menu {{ customClasses|default }}"
    data-component="left-panel-btn"
    data-component-id="@{{ handle }}"
    data-variant="{{ variant }}"
    data-search-data="{{ name }} - {{ handle }}"
    data-original-text="{{ name }}"
>
    {{ name|title }}
</button>
