{% set key = craft.app.request.getParam('key') %}
{% if not currentUser and key != getComponentLibraryKey() %}
    {% exit 404 %}
{% endif %}
    {% set component = craft.app.request.getParam('componentId') %}
    {% set variant = craft.app.request.getParam('variant') %}

    {% set componentViewerHelper = create('USChamber\\ComponentLibrary\\helpers\\ComponentViewerHelper') %}
    {% set context = componentViewerHelper.getComponentContext(component, variant) %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ component }} | {{ variant }}
        &middot;
        {{ siteName }}</title>
{#    Load in all your custom styling here #}
{#    <link rel="stylesheet" href="{{ mix('css/app.css') }}">#}
{#    <link rel="icon" href="/dist/img/favicon.ico" sizes="any">#}
{#    <link rel="icon" href="/dist/img/favicon.svg" type="image/svg+xml">#}
{#    <link rel="apple-touch-icon" href="/dist/img/apple-touch-icon.png">#}
{#    <link rel="manifest" href="/dist/img/manifest.webmanifest">#}
</head>
<body>

<div class="container">
    <main id="main" data-axe-test-target>
        {% include component with context %}
    </main>
</div>
</body>
{# Load in all custom JavaScript here #}
{#<script src="{{ '/axe-a11y/a11y.js' }}"></script>#}
{#<script src="{{ mix('js/app.js') }}" type="module"></script>#}
</html>
