<div data-component="listing:features-d" class="lg:flex lg:justify-between{{ customClasses is defined ? ' ' ~ customClasses }}">
    {% if secondaryItems is defined %}
        <div class="lg:cols-3">
            <ul class="md:flex md:justify-between lg:block">
                {% for item in secondaryItems %}
                    <li class="border-primary md:border-t-0 md:pt-0 md:mt-0 md:cols-4 lg:w-full {{ loop.index0 != 0 ? "border-t pt-24 mt-24 lg:mt-40 lg:pt-24 lg:border-t lg:border-primary" : "lg:border-t" }}{{ loop.index is even ? ' md:gutter-stroke-left lg:gutter-stroke-left-0' }}">
                        {% include item.type ignore missing with mergeResponsiveSettingsWithData({ "sizes": { "sm": 4, "md": 4, "lg": 3 }, "ratio": "3:2" }, item.data) %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if primaryItems is defined %}
        <div class="border-t border-primary mt-32 pt-32 lg:mt-0 lg:pt-0 lg:border-t-0 lg:cols-6 lg:gutter-stroke-left">
            <ul>
                {% for item in primaryItems %}
                    <li class="w-screen -ml-outer-gutter -mr-outer-gutter lg:w-full lg:mx-0">
                        {% include item.type ignore missing with mergeResponsiveSettingsWithData({ "sizes": { "sm": 4, "md": 8, "lg": 6 }, "ratio": "3:2" }, item.data|merge({ 'inFeatureGrid': true })) %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if tertiaryItems is defined %}
        <div class="md:border-t md:border-primary md:mt-32 md:pt-32 lg:cols-3 lg:pt-0 lg:mt-0 lg:border-t-0 lg:gutter-stroke-left">
            <ul class="md:flex md:justify-between lg:block">
                {% for item in tertiaryItems %}
                    <li class="border-t border-primary pt-24 mt-24 md:border-t-0 md:pt-0 md:mt-0 md:cols-4 lg:w-full {{ loop.index0 != 0 ? "lg:mt-40 lg:pt-24 lg:border-t lg:border-primary" : "" }}{{ loop.index is even ? ' md:gutter-stroke-left lg:gutter-stroke-left-0' }}">
                        {% include item.type ignore missing with mergeResponsiveSettingsWithData({ "sizes": { "sm": 4, "md": 4, "lg": 3 }, "ratio": "3:2" }, item.data) %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
